* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #ecf1a3, #dde474);
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
}
.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}

.title {
  width: 80%;
  text-align: center;
  margin: 24px auto;
}

.list {
  display: flex;
  box-sizing: border-box;
  padding: 0 12px;
}
.card {
  width: calc((100vw - 24px - 24px) / 3);
  box-sizing: border-box;
  background: #fff;
  border-radius: 6px;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 6px;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
}
.card:nth-of-type(3n+3) {
  margin-right: 0;
}
.card-name {
  font-size: 18px;
  color: #666;
  margin-bottom: 6px;
}
.card-price {
  font-size: 28px;
}
.card-price::before {
  font-size: 18px;
  content: 'ï¿¥';
}

footer {
  width: calc(100vw - 24px);
  margin: 24px auto;
  padding: 0 12px;
}
.foot-card {
  background: #fff;
  border-radius: 5px;
  padding: 12px;
  align-items: center;
}
.addr-tel {
  font-size: 32px;
}
.addr-desc {
  font-size: 16px;
}